.list-container {
    overflow: hidden;
    height: calc(100% - 103px);
    margin-top: 103px;
    padding: 0;

    .list-row {
        display: flex;
        padding: 10px 15px;
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(197, 197, 197, 0.3);
        background: #fff;
        // background-color: red;
        list-style: none;
    }
}