.header {
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    position: fixed;
    width: 100%;
    background: #1ba9ba;
    top: 0;
    z-index: 100;

    .left-action {
        left: 0;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
        font-size: 20px;
        vertical-align: middle;
        color: #7ff;

        &::before {
            content: "\F3CD";
        }
    }
}